//
// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
//

@function gtkalpha($c, $a) { // for 'currentColor'
  @return unquote("alpha(#{$c}, #{$a})");
}

@function gtkopacity($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}


//
// A Color palette
//
// Adapta-Gruvbox uses the gruvbox palette:
// [https://github.com/morhetz/gruvbox#palette]
//

// Import gruvbox palette
@import 'gruvbox_palette';


// Import key colour-scheme defined at build-time.
@import 'key_colors';


//
// Foreground colors
//

$fg_color: if($variant == light, 
                $gruvbox-light-fg,
                $gruvbox-dark-fg);

$secondary_fg_color: gtkopacity($fg_color, 0.87);
$tertiary_fg_color: gtkopacity($fg_color, 0.54);

$selected_fg_color: $gruvbox-light-fg;
$secondary_selected_fg_color: gtkopacity($selected_fg_color, 0.87);
$tertiary_selected_fg_color: gtkopacity($selected_fg_color, 0.7);

$insensitive_fg_color: gtkopacity($fg_color, 0.28);
$insensitive_secondary_fg_color: gtkopacity($secondary_fg_color, 0.28);
$insensitive_tertiary_fg_color: gtkopacity($tertiary_fg_color, 0.28);

$insensitive_selected_fg_color: gtkopacity($selected_fg_color, 0.4);
$insensitive_secondary_selected_fg_color:
  gtkopacity($secondary_selected_fg_color, 0.4);
$insensitive_tertiary_selected_fg_color:
  gtkopacity($tertiary_selected_fg_color, 0.4);

// preview text on empty GtkEntry
$placeholder_text_color: $gruvbox-light-gray-h;


//
// Inverted foreground colors
//

$inverted_fg_color: $gruvbox-dark-fg;

$inverted_secondary_fg_color: gtkopacity($inverted_fg_color, 0.87);
$inverted_tertiary_fg_color: gtkopacity($inverted_fg_color, 0.54);

$insensitive_inverted_fg_color: gtkopacity($inverted_fg_color, 0.28);
$insensitive_inverted_secondary_fg_color:
  gtkopacity($inverted_secondary_fg_color, 0.28);

$fixed_fg_color: $gruvbox-light-fg;

$secondary_fixed_fg_color: gtkopacity($fixed_fg_color, 0.87);
$tertiary_fixed_fg_color: gtkopacity($fixed_fg_color, 0.54);
$insensitive_fixed_fg_color: gtkopacity($fixed_fg_color, 0.28);
// used in Metacity-3
$unfocused_inverted_fg_color: gtkopacity($inverted_fg_color, 0.4);


//
// Background colors
//

$bg_color: if($variant == light, 
                $gruvbox-light-bg1,
                $gruvbox-dark-bg1);

$base_color: if($variant == light,
                  $gruvbox-light-bg0,
                  $gruvbox-dark-bg0);
                
$secondary_base_color: mix($base_color, $bg_color, 50%);

$light_color: if($variant == light,
                   $base_color,
                   $gruvbox-dark-bg2);

$dark_color: if($variant == light,
                  $gruvbox-light-bg2,
                  $gruvbox-dark-bg0);

$secondary_dark_color: if($variant == light,
                            $gruvbox-light-bg1,
                            $gruvbox-dark-bg0_h);


//
// Dark background colors on light variant
//

$inverted_bg_color: $gruvbox-dark-bg0;
$inverted_base_color: $gruvbox-dark-bg0_s;
$inverted_light_color: $gruvbox-dark-bg1;
$inverted_dark_color: $gruvbox-dark-bg0_h;


//
// Light background colors on dark variant
//

$fixed_base_color: $gruvbox-light-bg;


//
// Selection (primary) colors
//

// Default: #FBF1C7                                       // key-gruvbox-select
$selected_bg_color: $key_selection_color;


//
// Accent (secondary) colors
//

// Default: #689D6A                                       // key-gruvbox-accent
$accent_color: $key_accent_color;

$accent_label_color:
  if($variant == light,
       mix($key_accent_color, $fg_color, 80%),
       mix($key_accent_color, $fg_color, 60%));
  
$secondary_accent_color: gtkopacity($accent_color, 0.87);
$secondary_accent_label_color: gtkopacity($accent_label_color, 0.87);
$accent_fill_color: gtkopacity($inverted_fg_color, 0.1);
$drop_target_color: $accent_color;
$drop_target_fill_color: gtkopacity($drop_target_color, 0.2);

$inverted_accent_label_color:
  mix($key_accent_color, $inverted_fg_color, 60%);
$inverted_secondary_accent_label_color:
  gtkopacity($inverted_accent_label_color, 0.87);


//
// Tracker colors
//

$track_color: gtkalpha(currentColor, 0.12);
$outline_track_color: gtkalpha(currentColor, 0.2);


//
// Edge colors
//

$borders_color: if($variant == light, gtkopacity(#000000, 0.09),
                                      gtkopacity(#000000, 0.13));
$solid_light_borders_color: if($variant == light, #E5E9EC, #212B30);
$solid_dark_borders_color: mix($inverted_dark_color, #000000, 0.06);
$top_edge_borders_color: $inverted_base_color;
$paned_borders_color: if($variant == light, gtkopacity(#000000, 0.05),
                                            gtkopacity(#000000, 0.07));

$highlight_color: gtkopacity(#FFFFFF, 0.07);
$menu_highlight_color:
  if($variant == light,
  $base_color,
  mix($secondary_base_color, #FFFFFF, 98%));                    // = #2C383E

//
// Misc colors
//

$link_color: $gruvbox-blue-m;
$link_visited_color: $gruvbox-purple-b;

$link_label_color: $link_color;

$link_visited_label_color:
  if($variant == light,
  $link_visited_color,
  mix($link_visited_color, $fg_color, 60%));

$warning_color: $gruvbox-orange-b;
$error_color: $gruvbox-red-b;
$success_color: $gruvbox-green-m;

// Default: #427B58                                       // key-gruvbox-suggest
$suggested_color: $key_suggestion_color;

// Default: #CC241D                                       // key-gruvbox-destroy
$destructive_color: $key_destruction_color;

$info_bg_color: $gruvbox-aqua-m;
$question_bg_color: $gruvbox-yellow-m;
$warning_bg_color: $gruvbox-orange-m;
$error_bg_color: $gruvbox-red-m;
$solid_red: $gruvbox-red-b;
$solid_yellow: $gruvbox-yellow-b;
$solid_green: $gruvbox-green-b;
$solid_blue: $gruvbox-blue-b;


//
// Solid panel color
//

$panel_bg_color: $gruvbox_grad_01;
$panel_separator_color: gtkopacity($inverted_fg_color, 0.12 * 0.55);
